/* skill bar style for about block */

#about .bar{
    background-color: #CFD8DC;
}

#about .bar .bar-progress{
    background-color: #37474F;
}

#about .bar .bar-caption{
    color: white;
}

/* main style */

header.header{
    color: white;
    background-color: #263238;
}

.button{
    background-color: #37474F;
    color: white;
}

.button:hover{
    background-color: #CFD8DC;
    color: black;
}

footer.footer{
    background-color: #37474F;
}

/* style for services block */

#services,
#services .card:hover .icon{
    background-color: #263238;
}

#services .card .icon,
#services .card .title{
    color: #263238;
}

/* style for portfolio block */

#portfolio .polio-item .caption{
    background-color: #263238;
}

#portfolio .polio-item .caption .icon{
    color: #263238;
}

/* style for blog block */

#blog .blog-thumb{
    background-color: #263238;
}

#blog .fa{
    color: #263238 !important;
}

/* style for resume block */

#resume .right-col:before{
    background-color: #263238;
}

#resume .right-col{
    border-color: #263238;
}





