header.header{
    color: white;
    background-color: #000;
}

nav.main a:hover,
nav.main .cur{
    background-color: #555;
}

.bar{
    background-color: #ddd;
}

.bar .bar-progress{
    background-color: #222;
}

.bar .bar-caption{
    color: white;
}

.button{
    background-color: #000;
    color: white;
}

.button:hover{
    background-color: #ddd;
    color: black;
}

#contact{
    background-color: #666;
}

.footer{
    background-color: #333;
}

.polio-item .caption{
    background-color: #000;
}

#services,
#services .card:hover .icon{
    background-color: #000;
}

#services .card .icon,
#services .card .title{
    color: #000;
}

#portfolio .polio-item .caption .icon{
    color: #000;
}

/* style for resume block */

#resume .right-col:before{
    background-color: #000;
}

#resume .right-col{
    border-color: #000;
}