header.header,
.button,
.polio-item .caption,
#services,
#services .card:hover .icon,
#blog .blog-thumb,
#resume .right-col:before{
    background-color: #B71C1C; /* main color */
}

#resume .right-col{
    border-color: #B71C1C; /* main color */
}

#services .card .icon,
#services .card .title,
#portfolio .polio-item .caption .icon,
.contact-data .fa{
    color: #B71C1C; /* main color */
}

#blog .fa{
    color: #B71C1C !important;
}

header.header,
.button,
.bar .bar-caption{
    color: white;
}

.bar{
    background-color: #FFEBEE;
}

.bar .bar-progress{
    background-color: #EF9A9A;
}

.button:hover{
    background-color: #FFCDD2;
    color: black;
}

.footer{
    background-color: #C62828;
}
